body {
    width: auto;
    height: auto;
    margin: auto;
    background: linear-gradient(94deg, rgb(52, 48, 114,1) 0%, rgba(55,55,101,1) 41%, rgba(92,90,107,1) 100%);
}

h1 {
    font-size: 2cm;
    text-align: center;
    color: rgb(41, 40, 48);
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 25px rgb(59, 59, 90);
}
form {
    margin-left: 28%;
}
input[type=button] {
    height: 40px;
    width: 10%;
    border-radius: 5px;
    color: rgb(202, 201, 255);
    font-size: 100%;
    background-color: rgb(59, 59, 90);
    transition-duration: .2s;
    margin-bottom: 5px;
}
input[type=button]:hover {
    background-color: rgb(41, 40, 48);
    transition-duration: .2s;
}